

:root {
    --color-surface-dark: #363C4A;
    --color-surface-light: #CBD0D4;

    --color-text-dark: #363C4A;
    --color-text-light: #ffffff;


    --color-surface-total-dark: #363C4A;
    --color-surface-total-light: #363C4A;
}




/* 98afc477 */